body{
  background: linear-gradient(to bottom, #666699 0%, #99ccff 100%);
  

  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0px;
  padding: 0px;

};
#nav{
  color: steelblue;
  padding: 80px;
  border-top: 30px;


};
.sideads{
  float: right;
}
