body{
  background: linear-gradient(to bottom, #666699 0%, #99ccff 100%) no-repeat;
 

  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0px;
  padding: 0px;

};
#nav{
  color: steelblue;
  padding: 80px;
  border-top: 30px;


};
.sideAds{
  float: right;
  position: absolute;
  border: #666699;
};
.footer{
  text-align: center;
}
.grid {
  width: 100%;
}
*{
  box-sizing: border-box;
}
@media (min-width:1200px) {
  .g-col-1, .g-col-2, .g-col-3, .g-col-4, .g-col-5, .g-col-6, .g-col-7, .g-col-8, .g-col-9, .g-col-10, .g-col-11, .g-col-12{
    float: right;
    border: 1px solid black;
   

  }
  .col-lg-1 {
    width: 20%;
  }
  .col-lg-2 {
    width: 20%;
  }
  
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  .g-col-1, .g-col-2, .g-col-3, .g-col-4, .g-col-5, .g-col-6, .g-col-7, .g-col-8, .g-col-9, .g-col-10, .g-col-11, .g-col-12{
    float: right;
    border: 1px solid black;

  }
  .g-col-1 {
    width: 20%;
  }
  .g-col-2 {
    width: 20%;
  }
 
}